Django==5.2.17
asgiref==3.12.1
sqlparse==0.6.0
tzdata==2026.3
psycopg[binary]==3.2.12
psycopg-binary==3.2.12
Pillow==12.3.0
gunicorn==23.0.0
packaging==26.3
typing_extensions==4.15.0; python_version < "3.13"
